<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a routerLink="/dashboard/overview" class="list-group-item list-group-item-action py-2 ripple"
               routerLinkActive="active">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Overview</span>
            </a>
            <a routerLink="/dashboard/floorplan/" class="list-group-item list-group-item-action py-2 ripple"
               routerLinkActive="active">
                <i class="fas fa-map-marked fa-fw me-3"></i><span>Floorplan</span>
            </a>
            <a routerLink="/dashboard/sensors" class="list-group-item list-group-item-action py-2 ripple"
               routerLinkActive="active"><i
                    class="fas fa-wifi fa-fw me-3"></i><span>Sensors</span>
            </a>
            <a routerLink="/dashboard/airquality" class="list-group-item list-group-item-action py-2 ripple"
               routerLinkActive="active"><i
                    class="fas fa-wind fa-fw me-3"></i><span>Airquality</span>
            </a>
            <a routerLink="/dashboard/temperature" class="list-group-item list-group-item-action py-2 ripple"
               routerLinkActive="active"><i
                    class="fas fa-temperature-high fa-fw me-3"></i><span>Temperature</span>
            </a>
            <a routerLink="/dashboard/warnings" class="list-group-item list-group-item-action py-2 ripple"
               routerLinkActive="active"><i
                    class="fas fa-exclamation-circle fa-fw me-3"></i><span>Warnings</span>
            </a>

        </div>
    </div>
</nav>
