#iconOne {
  position: absolute;
  margin-top: 50px;
  margin-left: 165px;
  font-size: 30px;
}
#iconOne:hover {
  color: #3e3e43;
  text-shadow: 1px 1px 1px #676565;
  z-index: 99999;
}
#iconTwo {
  position: absolute;
  margin-top: 155px;
  margin-left: 300px;
  font-size: 30px;
}
#iconTwo:hover {
  color: #3e3e43;
  text-shadow: 1px 1px 1px #676565;
  z-index: 99999;
}

#iconThree {
  position: absolute;
  margin-top: 50px;
  margin-left: 595px;
  font-size: 30px;
}
#iconThree:hover {
  color: #3e3e43;
  text-shadow: 1px 1px 1px #676565;
  z-index: 99999;
}
