<div class="view full-page-intro"
     style="background-image: url('../../../../assets/images/vitrineIndexNeu.jpg'); background-repeat: no-repeat; background-size: cover;  flex: 1 0 auto;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
                <strong>Deine angeforderte Seite konnte nicht gefunden werden</strong>
            </h1>
            <a href="menu.php"
               class="btn btn-outline-white btn-lg">Zur Startseite
            </a>
        </div>
        <!-- Content -->
    </div>
</div>
